@charset "utf-8";

a{
	text-decoration: none;
	color: #CCE4FB;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.comWidth{
	width: 960px;
	margin: 0 auto;
}
#header{
	background: #53A6F1;
	height: 70px;
}
#header .hang{
	text-align: right;
}
#header .hang h1{
	float: left;
	/* text-indent: -99999px; */
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 513px;
	height: 53px;
	background: url('../images/h1.png') no-repeat;
	margin: 8px 0 6px 8px;
}
#header .hang p{
	color: #CCE4FB;
	margin-right: 11px;
	line-height: 70px;
}